/* insertion des polices choisis */

@font-face {
    font-family: 'RalewayBold';
    src: url('polices/static/Raleway-Bold.ttf') format('truetype');
    font-size:16px;
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('polices/static/Raleway-Medium.ttf') format('truetype');
}


/* container general */

body {
    font-family: 'RalewayMedium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    display:flex;
    margin-top:0px;
    justify-content:center;
    display:flex;
    flex-direction:column;
    margin:0px;
}

#bloc_page {
    margin: 0px 51px 0px 51px;
    align-self:center;
}

/*En-tete*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 30px;
    width:93px;
    margin-left:4px;
    padding-top:50px;
}

#inscription_telephone {
    display :none ;
}

#inscription_telephone a {
    color: black;
    text-decoration: none;
}


header nav {
    display: flex;
    flex-direction: row;
    width: 50%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin:0px;
}

header nav li {
    list-style-type: none;
    padding-top: 50px;
    margin-right: 25px;
    margin-left:44px;
    font-size: 0.9em;
}

header nav a {
    color: black;
    text-decoration: none;
}

nav li:hover{
    border-top:1px solid #0065fc;
}

nav a:hover{
    color:#0065fc;
}

#btn_inscription {
    color: #0065fc;
}


/*Section de recherche */

#section_recherche {
    display: flex;
    flex-direction: column;
}

#section_recherche h1 {
    font-size: 1em;
    margin-bottom: 5px;
}

#section_recherche p {
    font-size: 0.8em;
    margin-top:2px;
    margin-bottom:0px;
}

#section_recherche form {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
    border-radius: 15px;
}

#section_recherche form label {
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:52px;
}

#section_recherche i {
    display: flex;
    align-items: center;
    justify-content: center;
}

#champ_recherche {
    width: 236px;
    padding-left: 10px;
    font-family: 'RalewayBold';
}

#bouton_recherche {
    color: white;
    background-color: #0065fc;
    width: 133px;
    border-radius: 0px 10px 10px 0px;
    font-size:0.9em;
}

#filtre_recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtre_recherche h2 {
    margin: 0px;
    font-size: 1em;
}

#filtre_recherche ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    margin-left:33px;
    margin-bottom:30px;
    padding: 0px;
    height:49px;
}


#filtre_recherche li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    align-items:center;
    margin-right:29px;
}

#filtre_recherche i {
    color: #0065fc;
    background-color: #deebff;
    height: 50px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#filtre_recherche p {
    padding-left: 10px;
    padding-right: 18px;
    font-family: 'RalewayBold';
    font-size:0.9em;
}

#recherche_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#recherche_info i {
    color: #0065fc;
    border: 2px solid #f2f2f2;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#recherche_info p {
    margin-left: 14px;
    font-size:0.8em;
}


/*div globale des vignettes d'hebergements*/
#section_hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:42px;
}

/* div resultatde la recherche*/
#hebergement_propose {
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 5px;
    width:63%;
}

#section_hebergement h2 {
    display: block;
    margin-left: 30px;
    font-size:0.8em;
    margin-top:48px;
    margin-bottom:28px;
}

#vignettes_hebergement_propose {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: auto 40px 40px 40px;
}

.detail_vignette__hebergement {
    height: 200px;
    width: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: white;
    border: 4px solid white;
    border-radius: 15px;
}

.detail_vignette__hebergement img {
    height: 119px;
    border-radius: 15px 15px 0px 0px;
}

.detail_vignette__hebergement h3 {
    font-size: 0.725em;
    margin: 4px 0px 5px 6px;
}

.detail_vignette__hebergement p {
    font-size: 0.6em;
    margin: 0px 6px;
}

.note {
    margin-left: 6px;
    padding-bottom: 3px;
}
 
.note i{
    color:#f2f2f2;
}


.note :nth-child(-n+3) {
        color: #0065fc;
    }

#section_hebergement a {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 49px;
    text-decoration: none;
    color: black;
    font-family: 'RalewayBold';
    font-size: 0.9em;
}



/*div ASIDE*/

#hebergement_populaire {
    width: 32%;
    background-color: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 10px;
}


#hebergement_populaire h2 {
    display: flex;
    justify-content: space-between;
    font-size: 0.875em;
    padding-right: 40px;
    padding-left:45px;
    margin-left:0px;
}


#vignettes_hebergement_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.detail_vignette__populaire {
    width: 338px;
    height: 134px;
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    margin:auto 36px auto 36px;
}


.detail_vignette__populaire img {
    width: 132px;
    border-radius: 15px 0px 0px 15px;
}

.texte_vignette__populaire{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:19px;
}


.detail_vignette__populaire h3 {
    display: block;
    font-size: 0.8em;
    margin-top:0px;
}


.detail_vignette__populaire div p {
    font-size: 0.65em;
    justify-self:flex-start;
}


.notePop{
    justify-self:flex-end;
    color:#f2f2f2;
}

.notePop :nth-child(-n+3) {
    color: #0065fc;
}




/*Galerie photo des activités*/
#section_activite {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

#section_activite h1 {
    display: inline-block;
    font-size:1em;
    margin-bottom:25px;
}

.vignette_activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.triplette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
}

.detail_vignette_activite_grande {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 5px 10px 18px #f2f2f2;
}

.detail_vignette_activite_grande img {
    height: 387px;
    width: 306px;
    border-radius: 15px 15px 0px 0px;
}



.vignette_activite_double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.detail_vignette_activite_petite {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 5px 10px 18px #f2f2f2;
}


.detail_vignette_activite_petite img {
    height: 110px;
    width: 306px;
    border-radius: 15px 15px 0px 0px;
}



.detail_vignette_activite_moyenne {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 5px 10px 18px #f2f2f2;
}

.detail_vignette_activite_moyenne img {
    height: 180px;
    width: 306px;
    border-radius: 15px 15px 0px 0px;
}

.triplette p {
    font-family: 'RalewayBold';
    font-size:0.8em;
    margin: 0px;
    padding: 21px;
    border-radius: 0px 0px 25px 25px;
}


/*footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-items: center;
    background-color: #f2f2f2;
    margin-top: 63px;
    padding-bottom:100px;
}

.pied_page {
    width: 28%;
    margin-left:20px;
    margin-top:48px;
}

footer h4 {
    font-size: 0.8em;
    font-family: 'RalewayBold';
}

footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
}


/*Media Queries pour téléphone */
@media only screen and (max-width: 610px) {

    body {
        background-color: black;
    }

    #inscription_telephone {
    }

    header nav a {
        display:none;
    }
}

